version: '2'

#TODO: rebuild when docker-compose supports dashes in project name
services:
  python_scheduler:
    build: .
    restart: always
    network_mode: host
    volumes:
      - ./config.yml:/opt/notify/config.yml
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3